#num1 head{
    color: red;
}

#num2 head2{
    color: blue;
}

.class1{
    color:yellow;
}

p {
    color: olive;
    font-size: 1.5em;
    margin: 30px;
    padding: 30px;
    border-style: solid;
    border-color: orange;
}

p2 {
    color: orange;
    font-size: 1.5em;
    margin: 30px;
    padding: 30px;
    border-style: solid;
    border-color: olive;
}

p3 {
    color: blue;
}

p4 {
    color: orange;
}
