*{
	font-family: sans-serif;
	margin: 5;
	padding: 0;
	text-decoration: none;
	box-sizing: border-box;
	
}
body{
	min-height: 100vh;
	backround: linear-gradient(text-decoration);
}

form{
	width: 400px;
	height: 580px;
	backround: #998;
	left: 50%;
    top: 50%;
    position: absolute;
    
}
